/* Estilos gerais */
/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: #1f1f1f;
    color: white;
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Estilização dos produtos */
.produto {
    display: inline-block;
    background: #1f1f1f;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    text-align: center;
}

.produto img {
    width: 200px;
    height: auto;
    border-radius: 10px;
}



button {
    background: #6200ea;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #3700b3;
}


.form-container {
    text-align: center;
    margin: 50px auto;
    width: 300px;
    padding: 20px;
    background: #1f1f1f;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.form-container h2 {
    margin-bottom: 15px;
}

.form-container input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

footer {
    background: #1f1f1f;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: auto;
    width: 100%;
}


table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background: #1f1f1f;
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #333;
}

th {
    background-color: #6200ea;
    color: white;
}

td {
    color: #ffffff;
}

.status {
    font-weight: bold;
}

